<section class='addTransaction'>
  <nav>
    <%= link_to '<', group_path(@group), :class=>'nav-btn' %>
    <h1>Add a new Transaction</h1>
    <%= button_to '[>]', destroy_user_session_path, :class=>'logout', method: :delete %>
  </nav>
  <%= form_with model: @entity, url: group_entities_path, method: :post do |form| %>
    <%= form.label :name, 'Name:' %>
    <%= form.text_field :name, :class => 'texts' %>
    <%= form.label :amount, 'Amount:' %>
    <%= form.text_field :amount, :class => 'texts' %>
    <%= form.label :group_id, 'Category:' %>
    <%= form.collection_select :group_id, Group.all, :id, :name %>
    <%= form.submit 'Create Transaction', :class => 'btn' %>
  <% end %>
</section>
