<section class='categories'>
  <nav>
    <ul>
      <li><%= link_to '#', groups_path, :class=>'navBtn' %></li>
      <li><h2>CATEGORIES</h2></li>
      <li><%= button_to '[>]', destroy_user_session_path, :class=>'logout', method: :delete %></li>
    </ul>
  </nav>
  <section class='cards'>
    <% @groups.each do |group| %>
      <a href=<%= group_path(group) %> class='categoryLink'>
        <div class='category'>
          <div>
            <img src=<%= group.icon %> alt=<%= group.name %> class='icons'>
          </div>
          <div class='categoryInfo'>
            <h3><%= group.name %></h3>
            <p>Transactions: <%= group.entities.count %></p>
          </div>    
        </div>
      </a>
    <% end %>
  </section>
  <div class='bottom'>
    <%= link_to 'Add Category', new_group_path, :class=>'linkBtn' %>
  </div>
</section>
