<section class='transactions'>
  <nav>
    <%= link_to '<', groups_path, :class=>'nav-btn' %>
    <h1>Transactions</h1>
    <%= button_to '[>]', destroy_user_session_path, :class=>'logout', method: :delete %>
  </nav>
  <div>
    <h2>
      Total Amount: $ 
      <% sum = 0 %>
      <% @entities.each do |entity| %>
      <% sum += entity.amount %>
      <% end %>
      <%= sum %>
    </h2>
  </div>
  <% @entities.each do |entity| %>
    <div class='transaction'>
      <h3>Name: <%= entity.name %></h3>
      <h4>Amount: <%= entity.amount %></h4>
    </div>
  <% end %>
  <div class='bottom'>
    <%= link_to 'Add Transaction', new_group_entity_path(@group), :class=>'links' %>
  </div>
</section>
